#Ignoring all the .DS_Store files
employee-project/src/FileHandling.pyc
.DS_Store
src/.DS_Store
src/hacker-earth/.DS_Store
src/project-euler/.DS_Store
src/file-manipulation/.DS_Store
socket-codes/.DS_Store
socket-codes/server/.DS_Store
socket-codes/client/.DS_Store
college-assignments-sem1/.DS_Store
bin/
